body {
  margin: 0;
  padding: 0;
  /*font-family: serif;*/
  font-family: OpenSans;
}


@font-face {
  /*Retrieved from: https://www.fontsquirrel.com/fonts/open-sans*/
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.ttf');
}